<%- include('partials/devHeader'); -%>
  <!---------------------------Head---------------------->
  <!-- home section started -->

  <section id="home" style="padding-top: 9vh">
    <div class="boundaryWidth mx-auto sectionDiv">
      <h3>HEY THERE</h3>
      <h1>I'm Debasish.</h1>
      <p>Student of CS, Open-source enthusiast and Photographer</p>
    </div>
  </section>

  <!-- home section ended -->

  <!-- about section started  -->

  <section id="about" style="padding-top: 2vh">
    <h1 style="margin-left: 8%; color: white">#about</h1>
    <div class="boundaryWidth mx-auto sectionDiv">

      <h1>#about</h1>


      <div class="container">

        <div class="row">

          <div class="col">
            <img class="circle aboutImage " src="<%= avatarUrl %> " alt="Debasish-Profile">
            <h2 class="display-6 text-end">Debasish Biswas</h2>
          </div>

          <div class="vr" style="padding: 0;"></div>

          <div class="col aboutLeft">
            <h4>Lorem ipsum dolor sit amet,
              <br> consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna
              aliqua. Amet luctus venenatis lectus magna fringilla urna. Leo in vitae turpis massa sed elementum tempus.
              A
              lacus
              vestibulum sed arcu non odio euismod. Tellus mauris a diam maecenas sed enim ut sem viverra.
            </h4>
          </div>

        </div>

        <a class="btn btn-primary mx-auto" href="#">RESUME</a>
      </div>

    </div>



    </div>
  </section>

  <!-- about section ended  -->

  <!-- gallery section started -->

  <section id="gallery" style="padding-top: 2vh">
    <h1 style="margin-left: 8%; color: white">#gallery</h1>
    <div class="boundaryWidth mx-auto sectionDiv">

      <h1>#gallery</h1>

      <!-- carousel started  -->
      <div id="gallery-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000">

        <div class="carousel-inner">
          <div class="carousel-item active">

            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5 w-100 mx-auto">

              <% for(let i=0; i < 3; i++) { %>
                <div class="col">
                  <div class="card card-cover h-100 overflow-hidden text-white rounded-4 shadow-lg">
                    <div class="d-flex flex-column h-100 p-4 pb-2 text-white bg-primary text-shadow-1">
                      <h3 class="mb-2 lh-1 display-6">
                        <%= pinnedRepos[i].node.name %>
                      </h3>
                      <hr>
                      <p class="pt-2">
                        <%= pinnedRepos[i].node.description %>
                      </p>
                      <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                          <a href="<%= pinnedRepos[i].node.url %>">
                            <h3 style="color: black ;"><i class="bi bi-github"></i></h3>
                          </a>
                        </li>
                        <li class="d-flex align-items-center me-3">
                          <a href="/projects/<%= pinnedRepos[i].node.name %>" class="btn btn-dark">Details</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <% } %>

            </div>

          </div>

          <div class="carousel-item">

            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5 w-100 mx-auto">

              <% for(let i=3; i < 6; i++) { %>
                <div class="col">
                  <div class="card card-cover h-100 overflow-hidden text-white rounded-4 shadow-lg">
                    <div class="d-flex flex-column h-100 p-4 pb-2 text-white bg-primary text-shadow-1">
                      <h3 class="mb-2 lh-1 display-6">
                        <%= pinnedRepos[i].node.name %>
                      </h3>
                      <hr>
                      <p class="pt-2">
                        <%= pinnedRepos[i].node.description %>
                      </p>
                      <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                          <a href="<%= pinnedRepos[i].node.url %>">
                            <h3 style="color: black ;"><i class="bi bi-github"></i></h3>
                          </a>
                        </li>
                        <li class="d-flex align-items-center me-3">
                          <a href="/projects/<%= pinnedRepos[i].node.name %>" class="btn btn-dark">Details</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <% } %>

            </div>

          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#gallery-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#gallery-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon " aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- carousel ended -->




    </div>
  </section>

  <!-- blogs section ended -->

  <section id="blog" style="padding-top: 0.9vh">
    <h1 style="margin-left: 8%; color: white">#blogs</h1>
    <div class="boundaryWidth mx-auto  container">

      <div class="row" style="height: 100%;">

        <div class="col col-md-9 sectionDiv overflow-auto">
          <h1>#blogs</h1>



        </div>

        <div class="col sectionDiv asideSecDiv">
          <h2>search</h2>
        </div>

      </div>
    </div>
  </section>
  <!-- blogs section ended  -->

  <!-- Contact section started  -->

  <section id="contact" style="padding-top: 0.9vh">
    <h1 style="margin-left: 8%; color: white">#contact</h1>
    <div class="boundaryWidth mx-auto  container">

      <div class="row" style="height: 100%;">

        <div class="col col-9 sectionDiv">
          <h1>#contact</h1>
          <h3 class="display-6">You can find me</h3>
          <hr>

        </div>

        <div class="col sectionDiv asideSecDiv">
          <h3 class="display-6">Links</h3>
          <hr>

          <br>

          <a href="<%= githubUrl %> " class="btn d-grid btn-dark btn-lg" title="github">
            <i class="bi bi-github"></i> GitHub
          </a>

          <br>

          <a href="https://twitter.com/debasishbsws" title="Twitter" class="btn btn-twitter  btn-lg d-grid"><i
              class="bi bi-twitter"></i> Twitter</a>

          <br>

          <a href="https://www.linkedin.com/in/debasish-biswas-821b651b0/" title="LinkedIn"
            class="btn d-grid btn-linkedin btn-lg"><i class="bi bi-linkedin"></i>
            LinkedIn</a>

          <br>

          <a href="https://www.instagram.com/debasishbsws/" class="btn btn-insta  btn-lg d-grid">
            <i class="bi bi-instagram"></i> Instagram
          </a>

          <br>

          <br>
        </div>

      </div>
    </div>
  </section>
  <!-- Contact section ended  -->
  <!-------------------------------foot------------------------->
  <%- include('partials/devFooter'); -%>