<%- include('partials/devHeader'); -%>
  <!---------------------------Head---------------------->
  <!-- home section started -->

  <section id="home" style="padding-top: 9vh">
    <div class="boundaryWidth mx-auto sectionDiv">
      <h3>HEY THERE</h3>
      <h1>I'm Debasish.</h1>
      <p>Student of CS, Open-source enthusiast and Photographer</p>
    </div>
  </section>

  <!-- home section ended -->

  <!-- about section started  -->

  <section id="about" style="padding-top: 2vh">
    <h1 style="margin-left: 8%; color: white">#about</h1>
    <div class="boundaryWidth mx-auto sectionDiv">

      <h1>#about</h1>


      <div class="container">

        <div class="row">

          <div class="col">
            <img class="circle aboutImage " src="<%= avatarUrl %> " alt="Debasish-Profile">
            <h2 class="display-6 text-end">Debasish Biswas</h2>
          </div>

          <div class="vr" style="padding: 0;"></div>

          <div class="col aboutLeft">
            <h4>Lorem ipsum dolor sit amet,
              <br> consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna
              aliqua. Amet luctus venenatis lectus magna fringilla urna. Leo in vitae turpis massa sed elementum tempus.
              A
              lacus
              vestibulum sed arcu non odio euismod. Tellus mauris a diam maecenas sed enim ut sem viverra.
            </h4>
          </div>

        </div>

        <a class="btn btn-primary mx-auto" href="#">RESUME</a>
      </div>

    </div>



    </div>
  </section>

  <!-- about section ended  -->

  <!-- gallery section started -->

  <section id="gallery" style="padding-top: 2vh">
    <h1 style="margin-left: 8%; color: white">#gallery</h1>
    <div class="boundaryWidth mx-auto sectionDiv">

      <h1>#gallery</h1>

      <!-- carousel started  -->
      <div id="gallery-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000">

        <div class="carousel-inner">
          <div class="carousel-item active">

            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5 w-100 mx-auto">

              <% for(let i=0; i < 3; i++) { %>
                <div class="col">
                  <div class="card card-cover h-100 overflow-hidden text-white rounded-4 shadow-lg">
                    <div class="d-flex flex-column h-100 p-4 pb-2 text-white bg-primary text-shadow-1">
                      <h3 class="mb-2 lh-1 display-6">
                        <%= pinnedRepos[i].node.name %>
                      </h3>
                      <hr>
                      <p class="pt-2">
                        <%= pinnedRepos[i].node.description %>
                      </p>
                      <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                          <a href="<%= pinnedRepos[i].node.url %>">
                            <h3 style="color: black ;"><i class="bi bi-github"></i></h3>
                          </a>
                        </li>
                        <li class="d-flex align-items-center me-3">
                          <a href="/projects/<%= pinnedRepos[i].node.name %>" class="btn btn-dark">Details</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <% } %>

            </div>

          </div>

          <div class="carousel-item">

            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5 w-100 mx-auto">

              <% for(let i=3; i < 6; i++) { %>
                <div class="col">
                  <div class="card card-cover h-100 overflow-hidden text-white rounded-4 shadow-lg">
                    <div class="d-flex flex-column h-100 p-4 pb-2 text-white bg-primary text-shadow-1">
                      <h3 class="mb-2 lh-1 display-6">
                        <%= pinnedRepos[i].node.name %>
                      </h3>
                      <hr>
                      <p class="pt-2">
                        <%= pinnedRepos[i].node.description %>
                      </p>
                      <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                          <a href="<%= pinnedRepos[i].node.url %>">
                            <h3 style="color: black ;"><i class="bi bi-github"></i></h3>
                          </a>
                        </li>
                        <li class="d-flex align-items-center me-3">
                          <a href="/projects/<%= pinnedRepos[i].node.name %>" class="btn btn-dark">Details</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <% } %>

            </div>

          </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#gallery-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#gallery-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon " aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- carousel ended -->




    </div>
  </section>

  <!-- blogs section ended -->

  <section id="blog" style="padding-top: 0.9vh">
    <h1 style="margin-left: 8%; color: white">#blogs</h1>
    <div class="boundaryWidth mx-auto  container">

      <div class="row" style="height: 100%;">

        <div class="col col-md-9 sectionDiv overflow-auto">
          <h1>#blogs</h1>

          <section class="blog-post-card-wrapper css-zlewtl">
            <div class="css-1fx2wyw">
              <h1 class="blog-post-card-title css-16zd9y6"><a
                  aria-label="10 basic Linux commands you need to get started."
                  href="/10-basic-linux-commands-you-need-to-get-started">10 basic Linux commands you need to get
                  started.</a>
              </h1>
              <div class="blog-post-card-meta css-1kqqufn"><a
                  aria-label="10 basic Linux commands you need to get started." class="blog-post-card-time css-nfd03i"
                  href="/10-basic-linux-commands-you-need-to-get-started">May 28,
                  2022</a><a aria-label="10 basic Linux commands you need to get started. min read"
                  href="/10-basic-linux-commands-you-need-to-get-started" class="css-bbt5q4"><svg class="css-hb3dfw"
                    viewBox="0 0 576 512">
                    <path
                      d="M540.9 56.77c-45.95-16.66-90.23-24.09-129.1-24.75-60.7.94-102.7 17.45-123.8 27.72-21.1-10.27-64.1-26.8-123.2-27.74-40-.05-84.4 8.35-129.7 24.77C14.18 64.33 0 84.41 0 106.7v302.9c0 14.66 6.875 28.06 18.89 36.8 11.81 8.531 26.64 10.98 40.73 6.781 118.9-36.34 209.3 19.05 214.3 22.19C277.8 477.6 281.2 480 287.1 480c6.52 0 10.12-2.373 14.07-4.578 10.78-6.688 98.3-57.66 214.3-22.27 14.11 4.25 28.86 1.75 40.75-6.812C569.1 437.6 576 424.2 576 409.6V106.7c0-22.28-14.2-42.35-35.1-49.93zM272 438.1c-24.95-12.03-71.01-29.37-130.5-29.37-27.83 0-58.5 3.812-91.19 13.77-4.406 1.344-9 .594-12.69-2.047C34.02 417.8 32 413.1 32 409.6V106.7c0-8.859 5.562-16.83 13.86-19.83C87.66 71.7 127.9 63.95 164.5 64c51.8.81 89.7 15.26 107.5 23.66V438.1zm272-28.5c0 4.375-2.016 8.234-5.594 10.84-3.766 2.703-8.297 3.422-12.69 2.125C424.1 391.6 341.3 420.4 304 438.3V87.66c17.8-8.4 55.7-22.85 107.4-23.66 35.31-.063 76.34 7.484 118.8 22.88 8.2 3 13.8 10.96 13.8 19.82v302.9z">
                    </path>
                  </svg><span>3 min read </span></a></div>
              <p class="blog-post-card-brief css-7bzmcp"><a
                  aria-label="10 basic Linux commands you need to get started."
                  href="/10-basic-linux-commands-you-need-to-get-started">Before we go on to the list of commands, you
                  need to
                  open the command line first.
                  CLI
                  CLI is a command-line program that accepts text input to execute operating system functions.
                  e.g. To shut down a system we can use the GUI and click the respective...</a></p>
            </div>
            <div class="blog-post-card-cover css-4hopac"><a
                aria-label="10 basic Linux commands you need to get started."
                href="/10-basic-linux-commands-you-need-to-get-started" class="css-1bvatje"><span
                  style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;"><span
                    style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;"><img
                      alt="" aria-hidden="true"
                      src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYwMCIgaGVpZ2h0PSI4NDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmVyc2lvbj0iMS4xIi8+"
                      style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;"></span><img
                    alt="10 basic Linux commands you need to get started."
                    srcset="/_next/image?url=https%3A%2F%2Fcdn.hashnode.com%2Fres%2Fhashnode%2Fimage%2Funsplash%2FxbEVM6oJ1Fs%2Fupload%2Fv1653680906431%2FxRm2ETmfL.jpeg%3Fw%3D1600%26h%3D840%26fit%3Dcrop%26crop%3Dentropy%26auto%3Dcompress%2Cformat%26format%3Dwebp&amp;w=1920&amp;q=75 1x, /_next/image?url=https%3A%2F%2Fcdn.hashnode.com%2Fres%2Fhashnode%2Fimage%2Funsplash%2FxbEVM6oJ1Fs%2Fupload%2Fv1653680906431%2FxRm2ETmfL.jpeg%3Fw%3D1600%26h%3D840%26fit%3Dcrop%26crop%3Dentropy%26auto%3Dcompress%2Cformat%26format%3Dwebp&amp;w=3840&amp;q=75 2x"
                    src="/_next/image?url=https%3A%2F%2Fcdn.hashnode.com%2Fres%2Fhashnode%2Fimage%2Funsplash%2FxbEVM6oJ1Fs%2Fupload%2Fv1653680906431%2FxRm2ETmfL.jpeg%3Fw%3D1600%26h%3D840%26fit%3Dcrop%26crop%3Dentropy%26auto%3Dcompress%2Cformat%26format%3Dwebp&amp;w=3840&amp;q=75"
                    decoding="async" data-nimg="intrinsic" class="post-cover"
                    style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; filter: none; background-size: cover; background-image: none; background-position: 0% 0%;"><noscript></noscript></span><img
                  alt="" src="https://views.unsplash.com/v?app_id=261036&amp;photo_id=xbEVM6oJ1Fs"
                  class="css-eivff4"></a></div>
          </section>

        </div>

        <div class="col sectionDiv asideSecDiv">
          <h2>search</h2>
        </div>

      </div>
    </div>
  </section>
  <!-- blogs section ended  -->

  <!-- Contact section started  -->

  <section id="contact" style="padding-top: 0.9vh">
    <h1 style="margin-left: 8%; color: white">#contact</h1>
    <div class="boundaryWidth mx-auto  container">

      <div class="row" style="height: 100%;">

        <div class="col col-9 sectionDiv">
          <h1>#contact</h1>
          <h3 class="display-6">You can find me</h3>
          <hr>

        </div>

        <div class="col sectionDiv asideSecDiv">
          <h3 class="display-6">Links</h3>
          <hr>
        </div>

      </div>
    </div>
  </section>
  <!-- Contact section ended  -->
  <!-------------------------------foot------------------------->
  <%- include('partials/devFooter'); -%>