<%- include('partials/devHeader'); -%>
    <!---------------------------Head---------------------->
    <!-- project section started -->

    <section id="home" style="padding-top: 9vh">

        <div class="boundaryWidth mx-auto sectionDiv">
            <div class="mx-auto titleDiv">
                <span class="display-6 ">
                    README.md
                </span>
                <div style="float: right;">
                    <a class="display-6 px-3" href="<%= url %> "><i class="bi bi-github"></i></a>
                    <a class="display-6 px-3" href="#" onclick="copyToClipboard()"><i class="bi bi-code"></i></a>
                </div>
                <hr>
            </div>

            <div>
                <%- text %>
            </div>

        </div>
    </section>

    <!-- project section ended -->

    <script>
        function copyToClipboard() {
            navigator.clipboard.writeText("<%= url %>.git");
            alert("HTTPS git URL Copied!!");
        }
    </script>
    <!-------------------------------foot------------------------->
    <%- include('partials/devFooter'); -%>